@font-face {
    font-family: 'Guppy Sans';
    src: url('../fonts/guppy-sans/GuppySans-webfont.eot');
    src: url('../fonts/guppy-sans/GuppySans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/guppy-sans/GuppySans-webfont.woff2') format('woff2'),
         url('../fonts/guppy-sans/GuppySans-webfont.woff') format('woff'),
         url('../fonts/guppy-sans/GuppySans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.test2 {
  color: blue;
}
